@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://sitkin-cdn.oss-cn-heyuan.aliyuncs.com/font/Cinzel-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://sitkin-cdn.oss-cn-heyuan.aliyuncs.com/font/Cinzel-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('https://sitkin-cdn.oss-cn-heyuan.aliyuncs.com/font/Cinzel-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://sitkin-cdn.oss-cn-heyuan.aliyuncs.com/font/Cinzel-Bold.ttf') format('truetype');
}
