@font-face {
  font-family: 'Long Cang';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://sitkin-cdn.oss-cn-heyuan.aliyuncs.com/font/LongCang.ttf') format('truetype');
}
